<html>

<head>
  <title> First Class Html</title>
  <link rel='icon' type='image/png' href='simple-twitter-16x16-icon-png-7.png' />
  <script src="ecommerce web/tailwindcss.js"></script>
  <script src="vue.js"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            'blue': {
              DEFAULT: '#6B82C2',
              50: '#FDFDFE',
              100: '#EDF0F8',
              200: '#CCD4EA',
              300: '#ACB9DD',
              400: '#8B9DD0',
              500: '#6B82C2',
              600: '#4E6AB7',
              700: '#40589C',
              800: '#34487F',
              900: '#283762',
              950: '#222F53'
            },
            red: {
              DEFAULT: "#CF2E39",
              50: "#FEFBFB",
              100: "#F9E4E6",
              200: "#EFB6BA",
              300: "#E5898F",
              400: "#DA5B63",
              500: "#CF2E39",
              600: "#A9262F",
              700: "#841D24",
              800: "#5E151A",
              900: "#390D10",
              950: "#26080A",
            },
            'purple': {
              DEFAULT: '#4B0CD9',
              50: '#E9E4FE',
              100: '#D4CAFC',
              200: '#AC95F9',
              300: '#8660F6',
              400: '#632AF3',
              500: '#4B0CD9',
              600: '#3B099F',
              700: '#280665',
              800: '#12022B',
              900: '#000000',
              950: '#000000'
            },
            'black': {
              DEFAULT: '#0F0F0F',
              50: '#6B6B6B',
              100: '#616161',
              200: '#4D4D4D',
              300: '#383838',
              400: '#242424',
              500: '#0F0F0F',
              600: '#0A0A0A',
              700: '#050505',
              800: '#000000',
              900: '#000000',
              950: '#000000'
            },
            'great-blue': {
              DEFAULT: '#2A669F',
              50: '#FFFFFF',
              100: '#FFFFFF',
              200: '#FDFEFE',
              300: '#ACE0E9',
              400: '#5BAED4',
              500: '#2A669F',
              600: '#2A539F',
              700: '#2A409F',
              800: '#2A2C9F',
              900: '#3C2A9F'
            },
            'flamingo': {
              DEFAULT: '#EF4444',
              50: '#FDEDED',
              100: '#FCDADA',
              200: '#F9B5B5',
              300: '#F58F8F',
              400: '#F26A6A',
              500: '#EF4444',
              600: '#E71414',
              700: '#B30F0F',
              800: '#800B0B',
              900: '#4C0707',
              950: '#320404'
            },
            'mountain-meadow': {
              DEFAULT: '#10B981',
              50: '#8CF5D2',
              100: '#79F3CB',
              200: '#53F0BC',
              300: '#2EEDAE',
              400: '#13DF9B',
              500: '#10B981',
              600: '#0C855D',
              700: '#075239',
              800: '#031E15',
              900: '#000000',
              950: '#000000'
            },
          }
        }
      }
    }
  </script>
</head>

<body id="app" class="bg-purple-50 flex flex-col text-black-900 h-svh">
  <div class="bg-purple-300 p-8">
    <h1 class="text-great-blue-100 text-6xl">{{message}}</h1>
    <button @click="changesMsg">change me </button>
  </div>

  <div id='container' class="flex grow flex-column">
    <div class="w-72 box-border p-8 bg-purple-200">
      <h1 class="text-great-blue-100 text-2xl">Sidebar</h1>

    </div>
    <div id='mainBox' class="flex w-full gap-4">
      <div class='bg-purple-100 text-black-900 p-4 rounded-md shadow-2xl slideDown' style='width: 30%;'>
        <form id="ecommerceForm" onsubmit="event.preventDefault();"
          style="display: flex; flex-direction: column; gap: 4px">
          <label>Checkout Form ( {{computedTotalCart}} )</label>
          <input type="text" name="first_name" required v-model="checkoutForm.first_name" id="first_name"
            placeholder="Enter you first_name" />
          <span style="color: red" hidden id="taskErrorField-first_name">This field is required</span>
          <input type="text" name="last_name" required v-model="checkoutForm.last_name" id="last_name"
            placeholder="Enter you last_name" />
          <span style="color: red" hidden id="taskErrorField-last_name">This field is required</span>
          <input type="tel" name="number" required id="number" v-model="checkoutForm.phone_number"
            placeholder="Enter you phone_number" />
          <span style="color: red" hidden id="taskErrorField-number">This field is required</span>
          <textarea id="address" name="address" v-model="checkoutForm.address"
            placeholder="enter your full address"></textarea>
          <span style="color: red" hidden id="taskErrorField-address">This field is required</span>
          <input type="email" name="email" required v-model="checkoutForm.email" id="email"
            placeholder="Enter you email" />
          <span style="color: red" hidden id="taskErrorField-email">This field is required</span>
          <input type="text" name="postal_code" v-model="checkoutForm.postal_code" required id="postal_code"
            placeholder="Enter you postal_code" />
          <span style="color: red" hidden id="taskErrorField-postal_code">This field is required</span>
          <select id="city" name="city" v-model="checkoutForm.city">
            <option selected>Karachi</option>
            <option>Lahore</option>
            <option>Islamabed</option>
            <option>Peshawar</option>
            <option>Queta</option>
          </select>
          <span style="color: red" hidden id="taskErrorField-city">This field is required</span>
          <select id="country" name="country" v-model="checkoutForm.country">
            <option selected>Pakistan</option>
          </select>
          <span style="color: red" hidden id="taskErrorField-country">This field is required</span>
          <div>


            <div>
              <label class="flex gap-2 blue-700">
                <input type="radio" name="task" v-model="checkoutForm.payment_method" required id="payment_method"
                  checked placeholder="Enter you payment_method" />
                Cash on Delivery
              </label>
              <label class="flex gap-2 ">
                <input type="radio" v-model="checkoutForm.payment_method" name="task" required id="payment_method"
                  placeholder="Enter you payment_method" />
                Online Payment
              </label>
            </div>
            <button type="button" @click="sumbitCheckout()" id="submitBtn"
              class='bg-blue-500 text-great-blue-100 p-2 border-0 hover:bg-blue-600 active:bg-blue-600 rounded-md'>Checkout</button>
        </form>
        <div>
          <label>Cart Details</label>
          <div id="boxList" style="
                width: 80%;
                display: flex;
                flex-direction: column;
                gap: 4px;
              " class="grid-item slideDown">

            <div class="box bg-red-50 font-medium text-blue-900">
              <div style="
                                padding-left: 10px;
                                border-radius: 50%;
                                padding-right: 10px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                              "
                               v-for="(x, index) in checkoutForm.cart_details"
                               >
                <p>{{ x.name}}</p>
                <div class="text-purple-900" v-if="x.discounted_price < x.price">
                  <span class="text-red-600 line-through" :data-id="x.id"></span>
                  {{x.price}}
                  </span>
                  {{x.discounted_price}}
                </div>
                <div class="text-purple-900" v-else>{{x.price}}</div>
                <div>{{'Quantity '+ x.quantity }}</div>
                <div>
                  <button class="text-red-500" @click="removeItemCart(x.id)">
                    X
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id='main' class="p-4 grid grow border-box grid-cols-2 gap-4">


      <div class="bg-purple-500 text-black-500 p-4 rounded-md shadow-2xl slideDown" v-for="(x, index) in products">
        <h1 class="font-bold">{{ x.name }}</h1>
        <p class="font-medium">{{ x.description }}</p>

        <div class="text-purple-900" v-if="x.discounted_price < x.price">
          <span class="text-red-600 line-through">{{ x.price }}</span>
          {{ x.discounted_price }}
        </div>
        <div class="text-purple-900" v-else>{{ x.price }}</div>
        <div class="">
          <input type="number" :id='"qty"+ x.id' />
          <button class="bg-blue-400 text-black-200 font-medium rounded-lg w-32 py-1" @click="addToCart(x.id)">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>




</body>
<script>




  const { createApp, ref, onMounted, dateFormat, computed } = Vue;

  createApp({
    setup() {

      const message = ref("Hello Vue")
      const initialCheckoutForm = {
        first_name: "",
        last_name: "",
        phone_number: 0,
        address: "",
        email: "",
        postal_code: "",
        city: "",
        country: "",
        payment_method: "",
        shipping_details: {
          address: "",
          city: "",
          postal_code: "",
          country: "",
          phone_number: "",
          reciever_name: "",
        },
        total_amount: "",
        cart_details: [],
      };
      const checkoutForm = ref({
        first_name: "",
        last_name: "",
        phone_number: 0,
        address: "",
        email: "",
        postal_code: "",
        city: "",
        country: "",
        payment_method: "",
        shipping_details: {
          address: "",
          city: "",
          postal_code: "",
          country: "",
          phone_number: "",
          reciever_name: "",
        },
        total_amount: "",
        cart_details: [],
      });
      const products = [
        {
          id: 1,
          name: 'water bottle',
          description: 'color:blue size: large',
          price: 100,
          discounted_price: 99,
        },
        {
          id: 2,
          name: 'mouse',
          description: 'wired usb port',
          price: 250,
          discounted_price: 199,

        },
        {
          id: 3,
          name: 'watch',
          description: 'color:black, watch type:smart, brand:apple',
          price: 5000,
          discounted_price: 4999,

        },
        {
          id: 4,
          name: 'infinix s23',
          description: 'color:blue,storage: 120gb ram: 2gb display: 6x4',
          price: 25000,
          discounted_price: 24999,

        },
        {
          id: 5,
          name: 'shoes',
          description: 'size: 8, color: blue, type: sports wear',
          price: 3000,
          discounted_price: 3000,

        },
      ];

      onMounted(() => {
        alert("Let see");
      });

      const computedTotalCart = computed(() => {
        var total = checkoutForm.value.cart_details.reduce((accumulator, currentValue) => {
          var currentPrice = currentValue.discounted_price < currentValue.price ? currentValue.discounted_price : currentValue.price
          return accumulator + currentPrice * currentValue.quantity
        }, 0);
        return total;
      });





      const validateFields = () => {
        var basicFields = [
          "first_name",
          "last_name",
          "address",
          "postal_code",
        ];
        const basicValidation = () => {
          var checkValidation = true;
          basicFields.forEach((x) => {

            if (
              checkoutForm.value[x] == "" ||
              checkoutForm.value[x] == null
            ) {
              checkValidation = false;
              document.getElementById("taskErrorField-" + x).hidden = false;
            } else {
              document.getElementById("taskErrorField-" + x).hidden = true;
            }
          });
          return checkValidation;
        };




        var testBasicValidation = basicValidation();
        if (!testBasicValidation) {
          return false;

        }

        const validatePhoneNumber = (phoneNumber) => {
          const regex = /^(\+92|92|033|03)[ -]*\d{3}[ -]*\d{7}$/;
          return regex.test(phoneNumber);
        };
        if (!validatePhoneNumber(checkoutForm.value.phone_number)) {
          document.getElementById("taskErrorField-number").hidden = false;
          return false;
        } else {
          document.getElementById("taskErrorField-number").hidden = true;
        }
        const validateEmail = (email) => {
          const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
          return regex.test(email);
        };
        if (!validateEmail(checkoutForm.value.email)) {
          document.getElementById("taskErrorField-email").hidden = false;
          return false;
        } else {
          document.getElementById("taskErrorField-email").hidden = true;
        }
        if (checkoutForm.value.cart_details.length == 0) {
          alert("Please add items in your cart first");
          return false;
        }
        return true;
      };

      const sumbitCheckout = () => {
        const checkForm = validateFields();
        if (checkForm) {
          alert("Thank you for shopping with us");
          checkoutForm.value = { ...initialCheckoutForm };
          checkoutForm.value.cart_details = [];
          document.getElementById("ecommerceForm").reset();
        }
      };



      const addToCart = (product) => {
        debugger;
        var currentProduct = products.find((x) => {
          return x.id == product;
        });
        // ternary operator
        //   var ternaryOpt = 5 > 10 || 5 < 10 ? 5 : 10;
        var currentQty =
          document.getElementById("qty" + product).value == "" ||
            document.getElementById("qty" + product).value == null
            ? 1
            : document.getElementById("qty" + product).value;
        cartExistIndex = checkoutForm.value.cart_details.findIndex((x) => {
          return x.id == product;
        });
        if (cartExistIndex != -1) {
          checkoutForm.value.cart_details[cartExistIndex].quantity +=
            parseInt(currentQty);
        } else {
          var cartItem = {
            ...currentProduct,
            quantity: currentQty,
          };

          checkoutForm.value.cart_details.push(cartItem);
        }
        document.getElementById("qty" + product).value = "";
      };
      function removeItemCart(id) {
        var proIndex = checkoutForm.value.cart_details.findIndex((x) => {
          return x.id == id;
        });
        checkoutForm.value.cart_details.splice(proIndex, 1);
      };


      const changesMsg = () => {
        message.value = "I am change now";
      };

      return {
        message,
        initialCheckoutForm,
        checkoutForm,
        addToCart,
        removeItemCart,
        products,
        sumbitCheckout,
        computedTotalCart,
        changesMsg,
      };
    },
  }).mount("#app");
</script>

</html>